<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.web>
    <httpRuntime maxRequestLength="120096" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
  </system.web>
    <system.webServer>
    <security>
        <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
        </requestFiltering>
    </security>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                   <add value="index.html" />
                 <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
         <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    </system.webServer>
</configuration>
